{{#if group.locked}}

<h2>locked <code>{{group.name}}</code></h2>

<p>From now on, nobody can send messages to <code>{{group.name}}</code> anymore.</p>

{{else}}

<h2><code>{{group.name}}</code></h2>

<form action="/{{group.name}}/{{group.key}}/lock" method="POST">
	<input class="red" type="submit" value="lock {{group.name}}">
</form>

{{/if}}
