<h2><code>{{group.name}}</code></h2>

{{#if group.locked}}
<p>This group is locked.</p>
{{else}}

<form action="/{{group.name}}/{{group.key}}/send" method="POST">
	<input name="body" type="text" value="" placeholder="a short and helpful message">
	<input type="submit" value="send">
</form>

<form action="/{{group.name}}/{{group.key}}/lock" method="POST">
	<input class="red" type="submit" value="lock {{group.name}}">
</form>

{{/if}}
