<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{#if page.title}}{{page.title}} – {{/if}}{{site.name}}</title>
		<meta name="description" content="{{site.description}}">
		<meta name="keywords" content="{{site.keywords}}">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/assets/main.css">
		<link rel="stylesheet" href="/assets/type.css">
		<link rel="stylesheet" href="/assets/forms.css">
	</head>
	<body>
		<main>
			<h1 class="hidden">shout</h1>
			{{#each notices}}
				<p class="html {{type}}">{{{text}}}</p>
			{{/each}}
			{{{ content }}}
		</main>
		<footer>
			<a href="/">{{{logo}}}</a>
		</footer>
	</body>
</html>
